@import url("~/platform.css");

Page {
  background-color: white;
  font-size: 15;
}

TextField {
  padding: 10;
  font-size: 16;
}

Button {
  padding: 20px auto;
}

.small-spacing {
  margin: 10;
}

.medium-spacing {
  margin: 15;
}

.primary-btn {
  background-color: #E43850;
  color: white;
}

.text-white {
  color: white;
}